.toggle {
  border: 1px solid #999;
  width:50px;
  height: 25px;
  border-radius: 20px;
  background-color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle__icon {
  width: 15px;
  height: 15px;
}

.toggle__button {
  width: 25px;
  height: 25px;
  border: 2px solid #e345;
  border-radius: 50%;
  background-color: #999;
  cursor: pointer;
  position: absolute;
}